@import "tailwindcss";

body {
  font-family: var(--font-inter), sans-serif;
}

html[lang="ar"] body {
  font-family: var(--font-arabic), sans-serif;
}

.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
